*{
    box-sizing: border-box;
}

body{
    font-family: 'Courier New', Courier, Arial, Helvetica, sans-serif;
    background-color: white;
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.hide{
    display: none;
}
.btn:hover{
color: blueviolet;
}